<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <div><%- message %></div>
  <p>Oops! Seems like we took a wrong turn. <br>Don't worry, it's not you, it's us. Let's find our way back!</p>
</body>
</html>
